<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Document</title>
</head>

<body>
    <h1>Hello New user</h1>
    <form action="/userlist" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Signup" />
    </form>
    <section>
        {% for user in users %}
        <h4>
            {{user.username}} , {{user.password}}
        </h4>
        {% endfor %}
    </section>

</body>

</html>